<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>homeStd</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <p class="navbar-brand">HOSTEL COMPLAIN </p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          
          <li id="home"><a href="/student">HOME</a></li>
          <li id="home"><a href="/homeStd">COMPLAIN</a></li>
          <li><a href="/composeStd">COMPOSE</a></li>
         <!--  <li id="about"><a href="/about">ABOUT US</a></li>-->
          <li><a href="/logout">LOGOUT</a></li>

        </ul>
    </div>
  </nav>
  <br><br>
  <body>
<div class="cen">
<% for ( var i = (posts.length-1); i >= 0 ; i--) {  %>
  <h3>Hostel No: <%= posts[i].hostel_no %></h3>
  <h5><b>Room No: </b><%= posts[i].room_no %></h5>
  <h5><b>Year:</b><%= posts[i].year %></h5>
  <p><b>Problem:</b> <%= posts[i].content.substring(0,100) + "..."%></p>
   
    <%if (posts[i].replyHostel.length>0) { %>
    <%=posts[i].replyHostel[0].teacherName %>
    <%= posts[i].replyHostel[0].replyMessage %>
  <% }else{ %>
    No Reply
  <% } %>
<% } %>

</div>


</body>


</html>
